mixin item(text, className)
    li(class=className)= text

mixin row(tittle, role, service, company, statusInfo, date, action)
    tr
        td= tittle
        td= role
        td= service
        td= company
        case statusInfo
            when 'true'
                td(class="true") Connected
                    span
            when 'false'
                td(class='false') Disconnected
                    span
            default
                td= statusInfo
        td= date
        case action
            when ''
                td
                    button(class="more-cell")
                    button(class="edit-cell")
            default
                td= action




doctype html
html(lang="ru-RU")
    head
        title CRM
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet")
        link(rel="stylesheet" href="css/style.css" type="text/css")
    body
        aside
            div(class="aside-header")
                div(class="logo")
                span crm
                span test
            div(class="aside-items")
                ul
                    li(class="focus-item") Application
                    ul(class="focus-list")
                            +item('Nice app 1', 'item')
                    +item('Documentation', 'item')
                    +item('Settings', 'item')
                    +item('Support', 'item')
                    +item('Log out', 'item')

        section(id="main")
            div(class="main-header")
                button
                    img(src="img/back.png")
                    span Back
                h1 Administration
            div(class="main-services")
                div(class="main-search")
                    div(class="search")
                        input(type="text" placeholder="Search for something...")
                        input(type="submit")
                    div(class="main-services-text") 4
                        span services enregistres
                button(class="button-add") add
            div(class="table")
                table
                    thead
                        +row('Title', 'Role', 'Service', 'Company', 'Status', 'Date', 'Action')
                    tbody
                        +row('Title', 'SUPER_ADMIN', 'Production', 'Aboutgoods', 'true', '19/02/2018', '')
                        +row('Title', 'SUPER_ADMIN', 'Production', 'Aboutgoods', 'true', '19/02/2018', '')
                        +row('Title', 'USER', 'Production', 'Charal', 'true', '19/02/2018', '')
                        +row('Title', 'ADMIN', 'Sales', 'Nestle', 'true', '19/02/2018', '')
                        +row('Title', 'ADMIN', 'R&D', 'Aboutgoods', 'true', '19/02/2018', '')
                        +row('Title', 'USER', 'Production', 'IRi', 'false', '19/02/2018', '')
                        +row('Title', 'ADMIN', 'Production', 'Aboutgoods', 'true', '19/02/2018', '')
                        +row('Title', 'USER', 'Sales', 'SOGEC', 'false', '19/02/2018', '')

